.site-branding{
z-index: 100;
position: relative;
display: flex;
justify-content: center;
align-content: center;  
}

#cssmenu {
width: 100%;
padding: 0;
line-height: 1;
display: block;
position: relative;
z-index: 99;
margin-top: 1px;
}

ul li {
margin: 0 1px 0 0;
padding: 0;
display: block;
position: relative;
}

ul li a {
font-size: 13px;
text-decoration: none;
display: block;
margin: 0;
-webkit-transition: color .2s ease;
-moz-transition: color .2s ease;
-ms-transition: color .2s ease;
-o-transition: color .2s ease;
transition: color .2s ease;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#cssmenu > ul > li {
float: left;
}

.align-right > ul {
float: left;
}

#cssmenu > ul > li:after {
content: "";
display: block;
position: absolute;
width: 100%;
height: 0;
top: 0;
z-index: 0;
background: #FEFFFE;
-webkit-transition: height .2s;
-moz-transition: height .2s;
-ms-transition: height .2s;
-o-transition: height .2s;
transition: height .2s;
}

#cssmenu > ul > li > a {
color: black;
padding: 12px 20px;
text-transform: uppercase;
z-index: 2;
font-weight: 500;
position: relative;
}

#cssmenu > ul > li:hover:after,
#cssmenu > ul > li.active:after {
height: 100%;
}